$border-radius: 0.4rem;
$border-radius-s: 0.2rem;

$text-color: rgb(255, 255, 255);
$primary-color: rgb(39, 0, 165);
$primary-color-light: lighten($primary-color, 5%);
$primary-color-darker: darken($primary-color, 25%);
$primary-color-dark: darken($primary-color, 15%);

$success-color: rgb(54, 161, 54);
$success-color-dark: darken($success-color, 15%);
$error-color: rgb(218, 62, 62);
$error-color-dark: darken($error-color, 15%);

$spacing: 1.2rem;
$spacing-s: 0.8rem;
$spacing-xs: 0.4rem;
$spacing-l: 2.4rem;

$font-size: 100%;
$font-size-s: 90%;
$font-size-l: 120%;
$font-size-xl: 150%;

$border-width-s: 0.1rem;

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: $primary-color-dark;
  background: linear-gradient(0deg, $primary-color-dark 0%, $primary-color-darker 100%);
}

body {
  min-height: 100vh;
  margin: 0 auto;
  padding: 10vh $spacing-s;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: $text-color;
  display: grid;
  grid-template-rows: min-content min-content;
  align-content: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: $spacing;
}

form {
  background-color: $primary-color-dark;
  padding: $spacing;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  gap: $spacing;
  max-width: 1024px;

  @media (min-width: 420px) {
    width: 80%;
    padding: $spacing-l;
  }
}

input,
textarea {
  width: 100%;
  padding: $spacing-s $spacing;
  border: none;
  border-radius: $border-radius-s;
}

textarea {
  resize: vertical;
}


.form-field {
  max-width: 100%;
  display: flex;
  gap: $spacing-xs;
  flex-direction: column;
}

.sender-identification {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing;

  .form-field {
    flex: 1 0 20rem;
  }
}

button {
  font-size: $font-size-l;
  padding: $spacing-s $spacing;
  background-color: $primary-color;
  color: $text-color;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  border-radius: $border-radius;
  width: 100%;

  @media (min-width: 420px) {
    width: unset;
  }

  &:hover {
    background-color: $primary-color-light;
  }
}

.snackbar {
  padding: $spacing-s $spacing;
  font-size: $font-size-s;
  border-radius: $border-radius-s;
  border: $border-width-s solid;
  width: 100%;
  max-width: 30rem;

  &.success {
    background-color: $success-color;
    border-color: $success-color-dark;
  }

  &.error {
    background-color: $error-color;
    border-color: $error-color-dark;
  }
}