<div class="user">
  <h3>Username: {{userName}}</h3>
  <h4>Protected projects: {{protectedProjects}}</h4>
  <div class="buttons">
    <button (click)="synchronizeUser()">Synchronize</button>
    <button *ngIf="isUserFavorite(favoriteUsers$ | async)" (click)="removeFromFavorites()">Remove from favorites</button>
    <button *ngIf="isNotUserFavorite(favoriteUsers$ | async)" (click)="addToFavorites()">Add to favorites</button>
  </div>

  <button (click)="goBack()" class="go-back">Go back to list</button>
</div>


