<ng-container *ngIf="!(loading$ | async)">
  <ng-container *ngIf="user$ | async as user; else noUser">
    <div class="user">
      <h3>{{ 'user.username' | translate }}: {{user.name}}</h3>
      <h4>{{ 'user.protectedProjects' | translate }}: {{user.protectedProjects}}</h4>
      <div class="buttons">
        <button mat-raised-button color="primary" (click)="synchronizeUser(user.id)">
          {{ 'user.synchronize' | translate }}
        </button>
        <mat-slide-toggle
          [checked]="user.isFavorite"
          (change)="toggleFavorite(user, $event.checked)" color="primary">
          {{ 'user.favorite' | translate }}
        </mat-slide-toggle>
      </div>
    </div>
  </ng-container>
  <ng-template #noUser>
    <p>{{ 'user.noUserFound' | translate }}</p>
  </ng-template>

  <button mat-raised-button [routerLink]="['/users']" class="go-back">
    {{ 'navigation.goBack' | translate }}
  </button>
</ng-container>